/* responsive menu start  */

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(211, 255, 251, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  height: 100px;
  padding-top: 5px;
  z-index: 2;
  overflow: hidden;
  background-color: #fc6f73;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

nav #brand {
  float: left;
  display: block;
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
}

nav #brand a li {
  color: pink;
  transition: all 0.3s ease-out;
}

nav #brand a li:hover {
  color: #fc5c62;
}

nav #menu {
  width: 100%;
  padding-right: 110px;
  text-align: right;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav #menu a li {
  display: inline-block;
  float: none;
  display: inline-block;
  padding: 0px 25px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;
  letter-spacing: 0.1em;
  font-size: 17px;
}

nav #menu a li {
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

nav #menu a li:hover {
  background: #fc5c62;
}

#toggle {
  position: absolute;
  right: 45px;
    top: 25px;
  z-index: 999;
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 6px;
  background: #ffffff;
  margin: 8px auto;
  backface-visibility: hidden;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

#resize {
  z-index: 1;
  position: fixed;
  top: 0px;
  background-color: #fc6f73;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: table;
}

#resize #menu {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

#resize #menu a li {
  display: block;
  text-align: center;
  /*   padding: 20px 0 30px 0; */
  padding-bottom: 10px;
  font-size: 50px;
  min-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize #menu a li:hover {
  background: #fc5c62;
  transition: all 0.3s ease-out;
}

#resize #menu a li:click {
  visibility: hidden;
}

#resize #menu a li {
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.15em;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
}

#resize.active {
  visibility: visible;
  opacity: 0.99;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  #toggle {
    visibility: visible;
    opacity: 1;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 1000px) {
  #resize {
    visibility: hidden !important;
  }
}


/* end of responsive menu */
body {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
    line-height: 1.6em;
/*   text-align: center; */
}

.fulljustify {
      text-align:justify;
      font-size: 15px;
    }
    .fulljustify:after {
        content: "";
        display: inline-block;
        width: 100%;	
    }

    

 #tagline {
        overflow: hidden;
/*         line-height: 80px; vert-center */
    }

.hero-box {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroImg {
  height: 100vh;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.strawberryDesign {
  width: 300px;
  padding-top: 30vh;
}

.reverseStrawberryDesign {
  padding-top: 35vh;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rightBorder {
  margin-top: -100vh;
    height: 100vh;
    float: right;
}

.leftBorder {
  margin-top: -100vh;
    height: 100vh;
    float: left;
}

  .leftHeroBorder {
    width: 90vw;
  }



.beforenav {
  padding-top: 13px;
}

.logoimg {
    width: 65px;
    margin-left: 45px;
    padding-top: 5px;
}

.herobox {
  position: relative;
  height: calc(100vh - 110px);
  margin-bottom: 30px;
  margin-top: 120px;
  top: -130px;
}

.hero {
    padding-top: 10px;
    background-color: #f9b3d6;
}

.otherHero {
  background-color: #fcb3b4;
}

.center {
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: 100vh;
  margin-left: auto;
    margin-right: auto;
  width: 300px;
}

.herotext {
  top: 37vh;
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  font-family: 'Cookie', cursive;
}

hr {
  visibility: hidden;
}


.otherHeroText {
  top: 43vh;
  text-align: center;
  position: absolute;
  width: 100%;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.otherCafeText {
  font-size: 45px;
}

.cafetext {
  font-size: 35px;
    margin-top: -10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.cafetitletext {
    font-size: 20vw;
    margin-bottom: -10px;
}

.img-circle {
  border-radius: 50%;
}

.coffeeImg {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.coffeeImg2 {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.abouttext {
  margin-top: 30px;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.languages {
  padding-top: 20px;
}

.menuImg {
  padding-top: 35px;
  padding-bottom: 140px;
  max-width: 1100px;
    width: 100vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.cardImg {
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 20px;
  max-width: 1100px;
}

.bottomCard {
  padding-bottom: 60px;
}

.menuCenter {
  width: 100vw;
  height: auto;
  margin: auto;
  max-width: 1100px;
}

.cardCenter {
  width: 100vw;
  margin: auto;
  max-width: 1000px;
}

.poem {
  width: 300px;
    display: block;
    margin: auto;
  padding-bottom: 50px;
}

.poemPart1 {
  color: #ed9cc7;
  padding-top: 40px;
}

.poemPart2 {
  color: #ab98e0;
  padding-top: 35px;
}

.poemPart3 {
  color: #88cca2;
  padding-top: 35px;
}

.aboutPageTitle {
  font-style: italic;
  font-size: 25px;
  text-align: center;
}

.coverImg {
  width: 80vw;
  max-width: 700px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 35px;
}

.adPoster {
  width: 80vw;
  max-width: 800px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 150px;
}

.maintitle {
color: #fc5c62;
    font-size: 70px;
    font-family: 'Cookie', cursive;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 13px;
    padding-bottom: 40px;
}

.minititle {
  color: #fc6f73;
    font-size: 45px;
    font-family: 'Cookie', cursive;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 0.9;
    padding-bottom: 0;
    padding-top: 5px;
}

.contentwrap {
  padding-bottom: 100px;
}

/* .fa, .fas {
  font-weight: 900;
} */

.fafas {
  margin: auto;
  font-size: 45px;
}

.fab {
  color: white;
}


#footer {
  color: #ffffff;
  width: 100%;
  height: 173px;
  background-color: #fc6f73;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.footertext {
  font-size: 15px;
    padding-top: 74px;
    letter-spacing: 5px;
}

@media screen and (min-width: 660px) {
  
  .fulljustify {
    font-size: 20px;
  }

  .poem {
    width: 400px;
  }

  .maintitle {
    color: #fc5c62;
        font-size: 120px;
        font-family: 'Cookie', cursive;
        text-align: center;
        letter-spacing: 0.1em;
        padding-top: 0;
        padding-bottom: 40px;
    }

    .herotext {
      top: 35vh;
    }
  .otherHeroText {
    top: 25vh;
  }
  
  .strawberryDesign {
   padding-top: 25vh;
  width: 550px;
  height: auto;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .reverseStrawberryDesign {
    padding-top: 37vh;
      width: 550px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .minititle {
    font-size: 55px;
    padding-top: 0;
  }

  .coverImg {
    width: 70vw;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 40px;
  }

  .adPoster {
    width: 70vw;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 80px;
  }

  .coffeeImg {
    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  
  .coffeeImg2 {
      width: 450px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .cardCenter {
    width: 80vw;
  }

  .cardImg {
    width: 80vw;
    padding-bottom: 60px;
    padding-top: 40px;
  }
  
  .center {
    width: 550px;
  }

  .cafetitletext {
    font-size: 140px;
    margin-top: 5px;
  }

  .cafetext {
    font-size: 35px;
      margin-top: 17px;
      font-family: 'Nanum Gothic', sans-serif;
  }

  .otherCafeText {
    font-size: 75px;
  }
  
  .beforenav {
     padding-top: 7px;
  }

  .contentwrap {
    margin-left: 130px;
    margin-right: 130px;
  }

  hr {
    margin-bottom: 0px;
    margin-top: -10px;
      height: 4px;
      width: 60%;
    background-color: white;
    border: none;
    visibility: visible;
  }

  .footertext {
    font-size: 20px;
      padding-top: 74px;
      letter-spacing: 5px;
  }

}


@media screen and (min-width: 1000px) {

  .logoimg {
    margin-left: 130px;
  }

  .strawberryDesign {
    width: 550px;
  }
  .link-title {
    font-size: 22px;
  }

  .minititle {
    font-size: 65px;
    padding-bottom: 0;
    padding-top: 10px;
}
  
  .cafetitletext {
  font-size: 10vw;
}
  
  .cafetext {
    margin-top: 10px;
    font-size: 45px;
  }

   .contentwrap {
    margin-left: 100px;
    margin-right: 100px;
  }

  .abouttext {
    text-align: center;
  }

.rightBorder {
  margin-right: -250px;
}
.leftBorder {
  margin-left: -250px;
}

  .hero {
    padding-right: 250px;
    padding-left: 250px;
  }

  hr {
    margin-bottom: 7px;
    height: 4px;
    width: 30%;
    margin-top: -20px; 
  }
  img {
    border: 0;
  }

  * {
    box-sizing: border-box;
  }

  .coverImg {
    width: 40vw;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 40px;
  }

  .adPoster {
    width: 40vw;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 80px;
  }

  .cardCenter {
    width: 60vw;
  }

  .cardImg {
    width: 60vw;
    padding-bottom: 60px;
    padding-top: 40px;
  }

  .menuImg {
    padding-top: 52px;
    padding-bottom: 170px;
    max-width: 1100px;
      width: 90vw;
  }

  .menuCenter {
    width: 90vw;
  }

}